@model PokemonGame.Data.Team

@{
    ViewBag.Title = "Create Team";
}

<h2>Create Team</h2>

@using (Html.BeginForm("CreateTrainerTeam", "Trainer", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Team</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <!-- Selección de Pokémon 1 -->
        <div class="form-group">
            @Html.Label("Pokemon 1", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PokemonId1", (IEnumerable<SelectListItem>)ViewBag.PokemonList, "Select a Pokemon", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PokemonId1, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Selección de Pokémon 2 -->
        <div class="form-group">
            @Html.Label("Pokemon 2", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PokemonId2", (IEnumerable<SelectListItem>)ViewBag.PokemonList, "Select a Pokemon", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PokemonId2, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Selección de Pokémon 3 -->
        <div class="form-group">
            @Html.Label("Pokemon 3", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PokemonId3", (IEnumerable<SelectListItem>)ViewBag.PokemonList, "Select a Pokemon", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PokemonId3, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Selección de Pokémon 4 -->
        <div class="form-group">
            @Html.Label("Pokemon 4", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PokemonId4", (IEnumerable<SelectListItem>)ViewBag.PokemonList, "Select a Pokemon", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PokemonId4, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Descripción -->
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Botón de envío -->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="CreateTrainerTeam" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
